@font-face {
  font-family: VGA;
  src: url(Flexi_IBM_VGA_True.ttf);
}

@font-face {
  font-family: Crimson Pro;
  src: url(CrimsonPro-VariableFont_wght.ttf);
}

:root {
  --2: lightgreen;
  --1: #364C7A;
  --0: antiquewhite;
}

* {
  background-color: var(--0);
  box-sizing: border-box;
}

p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  background-color: transparent;
}

a {
  color: var(--1);
  background-color: transparent;
}

a:hover {
  color: cornflowerblue;
}

img {
  width: 275px;
  border: 0px solid var(--1);
}

.container {
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 0%;
  grid-template-columns: auto auto auto auto auto;
}

.name {
  grid-column: 1 / span 5;
  border-bottom: 1px solid var(--1);
}

h1 {
  font-family: "Crimson Pro", serif;
  font-size: 4em;
  margin: 0;
  background-color: transparent;

}

.name h1 {
  font-size: 5em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3em;
  background-color: transparent;
}

/* Tabs */
.tabs {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--1);
}

.tabs label {
  order: 1;
  display: block;
  padding: 0.75rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: var(--0);
  font-size: 1.95rem;
  transition: background ease 0.2s;
}

.tabs label:hover {
  text-decoration: underline
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 2rem;
  background: var(--0);
  font-size: 1.75rem;
  line-height: 1.15;
  height: fit-content;
}

.tabs input[type=radio] {
  display: none;
}

.tabs input[type=radio]:checked+label {
  background: var(--1);
  /* color: #000; */
  color: var(--0);
}

.tabs input[type=radio]:checked+label+.tab {
  display: block;
}

@media (max-width: 505px) {

  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    font-size: 3rem;
    border: 1px solid var(--1);
  }
  img {
    width: 150px;
    border: 0px solid var(--1);
  }

  p {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }


  /* .tabs .tab {
    min-height: 100vh;
    overflow: scroll;
  } */


}

/**
 * Generic Styling
*/
body {
  /* background-color: #000; */
  background-color: var(--0);
  color: var(--1);
  /* font-family: VGA; */
  font-family: "Crimson Pro", serif;
  box-sizing: border-box;
  margin: 0 auto;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 50vh;
  overflow: hidden;
  /* background-color: #FCCD64; */
  /* cursor: pointer; */
}

.screen {
  /* background-color: #000; */
  background-color: var(--0);
  font-family: "Crimson Pro", serif;
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 5%;
}

.paper {
  margin-bottom: 15px;
  line-height: 1.5rem;
}

.paper p {
  font-size: 1.6rem;
}

h4 {
  text-align: center;
  font-size: 1.6rem;
}

/* GITHUB PINNER CSS*/

.github-pinner {
  /* background-color: white; */
  border: 2px solid var(--1);
  padding: 15px;
  /* border-radius: 5px; */
}

.github-pinner.gp-repo {
  width: 30%;
  /* font-family: VGA; */
  font-family: "Crimson Pro", serif;
  line-height: 1;
  margin: 15px;
}


/* MARK: - Repo Styling */
.github-pinner #gp-container-repo {
  position: relative;
  height: inherit;
}

.github-pinner #gp-container-repo .gp-title {
  text-decoration: none;
  color: var(--1);
  font-size: 1.5rem;
  font-weight: 600 !important;
}

.github-pinner #gp-container-repo .gp-title:hover {
  text-decoration: underline;
}

.github-pinner #gp-container-repo .gp-desc {
  margin-top: 5px;
  color: var(--1) !important;
  font-size: 1.25rem !important;
}

/* .github-pinner #gp-container-repo #gp-stats {
  } */

.github-pinner #gp-container-repo #gp-stats .gp-stat {
  text-decoration: none;
  color: black !important;
  font-size: 12px !important;
  display: inline-block;
  margin: 0 0;
  margin-left: 15px;
}

.github-pinner #gp-container-repo #gp-stats .gp-stat:first-child {
  margin-left: 0px;
}

.github-pinner #gp-container-repo #gp-stats .gp-stat .gp-octicon {
  vertical-align: text-bottom;
  display: inline-block;
  fill: currentColor;
  margin-right: 3px;
}

.github-pinner #gp-container-repo #gp-stats .gp-stat .gp-lang {
  background-color: #f1e05a;
  position: relative;
  top: 2px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.github-pinner #gp-container-repo #gp-stats .gp-stat.gp-link {
  cursor: pointer;

}

.github-pinner #gp-container-repo #gp-stats .gp-stat.gp-link:hover {
  color: #0366d6 !important;
  text-decoration: none;
}

.github-pinner #gp-container-all-repos {
  position: relative;
  max-height: calc(100% - 80px);
  overflow: scroll;
}

.github-pinner .gp-search {
  /* reset */
  border: none;
  outline: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  border: 1px solid #e1e4e8;
  padding: 10px 12px;
  padding-left: 35px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 8px;
  background-image: url("https://d29mk5socxaj4o.cloudfront.net/imgs/search.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 12px center;
  background-blend-mode: red;
}

.github-pinner .gp-search:focus {
  background-image: url("https://d29mk5socxaj4o.cloudfront.net/imgs/search-highlight.svg");
  border-color: #3B9CEA;
}

.github-pinner #gp-container-all-repos>#gp-container-repo {
  margin: 12px 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #e1e4e8;
}

.github-pinner #gp-container-all-repos>#gp-container-repo:last-child {
  border-bottom: none;
}

.github-pinner .gp-user-link {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
}

/* Additional Styles */
.github-pinner.flat .gp-btn {
  background-color: blue;
}